<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PabaProject"
        tools:targetApi="31">
        <activity
            android:name=".Hansel.TambahLapangan"
            android:exported="false" />
        <activity
            android:name=".Hansel.PilihanLapangan"
            android:exported="false" />
        <activity
            android:name=".Robert.HalamanAdmin"
            android:exported="false" />
        <activity
            android:name=".Robert.Promo.TambahPromo"
            android:exported="false" />
        <activity
            android:name=".William.MetodePembayaran"
            android:exported="false" />
        <activity
            android:name=".William.DetailLapangan"
            android:exported="false" />
        <activity
            android:name=".JadwalUntukPesanLapanganContainer"
            android:exported="false" />
        <activity
            android:name=".Robert.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>